@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Fuggles&display=swap"); */

@font-face {
  font-family: "Fuggles";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Fuggles-Regular.ttf") format("truetype");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
}

@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}
.header {
  transition: background-color 0.3s ease;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 40;
}

.prose a {
  color: #ff8200;
  text-decoration: underline;
}

.prose a:hover {
  color: black; /* Farbe beim Hover */
}
